/*Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;	font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }





#container > div, p, h1, img {border: 1px solid #ff0000;}

/*Global stuff*/
body, div {
	background: rgb(239, 239, 239);
	font-family: sans-serif;
	font-weight: 100;
}

#menu, #primary, #primary .article, #secondary .article, img {
	border-radius: 10px;
}

img { width: 200px; }

a {text-decoration: none; color:black; }




/*Layout*/
#container{ max-width:1252px; margin:0 auto;}

#menu, #primary, #secondary {margin-bottom: 10px}

#menu {
	float: left;
	width: 150px;
	padding: 16px 14px 5px 11px;
}


#primary {
	float: left;
	max-width: 770px;
	padding: 15px;
}


#secondary {
	float: left;
	width: 250px;
}


@media screen and (min-width:1251px) {
	#menu, #primary {margin-right:10px;}

}

@media screen and (min-width:481px) and (max-width:1250px) {
	#title {background:black;}

	#menu {margin-right:10px;}

	#primary {float:right; margin-left:400px}
	
}

@media screen and (max-width:480px) {
	#menu {width:100%}
}








/*Title*/
#title {
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}



/*Sitemap*/
#sitemap {
	text-align: center;
	margin: 26px;
}

#sitemap li{
	display: inline;
	padding: 4px;
	background: rgb(255, 196, 60);
	border:3px solid lightgrey;
}



/*Container*/
#menu, #primary {
	background: rgb(255, 196, 60);
}



/*	Menu*/
#menu_titel {
	text-align: center;
}
#menu > div {
	padding: 2px;
	font-weight: 600;
}
#menu a {
	display: block;
	margin: 6px 0;
	padding: 2px 0; 
	background: rgb(255, 196, 60);
	border-bottom: 2px solid #eee;
	text-align: left;
}



/*	Primary*/

#primary .article {
	float: left;
	background: #eee;
	margin: 5px 0px;
	padding: 10px 7px;
}
#primary .article h3 {
	font-size:1.2em;
	font-weight: 600;
	margin-bottom: 20px;
}

#primary .article img {
	float: left;
	width: 255px;
	margin: 0px 7px 7px 0px;
}
#primary .text {
	line-height:120%;
}
#primary .text ~ a {
	line-height:3em;
	font-weight:400;
}
#primary .signature{
	text-align:right;
}



/*	Secondary*/


#secondary * {
	background: rgb(255, 196, 60);
}

#secondary .article {
	margin: 0 0 10px 0;
	padding: 10px 3px;
}

#secondary .article h3 {
	font-size:1.2em;
	margin-bottom:1.3em;
}

#secondary .reviewer {
	min-height:80px;
}
#secondary .reviewer span {
	font-weight: 400;
}
#secondary .reviewer div {
	font-size:0.9em;
	margin-top:0.6em;
}

#secondary .reviewer ~ div:last-of-type{
	margin: 0.5em 0;
}
#secondary .reviewer ~ div:last-of-type > a {
	font-weight: 400;
}
#secondary .reviewer img {
	float: left;
	width: 72px; height: 72px;
	padding: 0 3px 3px 0;
}

#secondary .social img {
	width: 44px;
}


/*Footer*/
